/* common classes */
.textFont{
	font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	font-weight: 300;
	font-size: 19px;
	line-height: 34px;
	color: #FFF;
}
.textBlack{
	color: #000;
}
.textWhite{
	color: #FFF !important;
}
.marginTop10{
	margin-top: 10px;
}
.marginTop30{
	margin-top: 30px;
}
.font14{
	font-size:14px;
}
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}
.hideBlock{
	display: none;
}
.ulstyle{
	list-style-type: none !important;
}
/* login div */
.videoDiv{
	margin-left: 125px;
}
/* footer */
.footertext{
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	font-size: small;
	color: #666;	
}
#argofooter{
    width: 100%;
    position: fixed;
    top: 100%;
    margin-top: -20px;
    height: 20px;
}

.joinTab{
	max-height: 620px !important;
}
.buysellchkbox{
	float: left;
	margin-right: 13px;
	margin: 8px 13px 0 0 !important;
}
.buyselllabel{
	padding-right: 10px;
}
#userloginErrorDiv{
	margin: -5px 0 5px 0;
}

/* item maintenance jsp */
.uploadHead{
	background-color: #0B67CD;
	padding-left: 10px;
	position: relative;
	text-align: left;
	margin-bottom: 10px;
}
.uploadBtn{
	background-color: #1571D7;
}
.uploadWidth{
	width: 125px;
}
/* buyer admin market place jsp */
#navigationMenu{ 
	width: 270px; 
}
.single-menu-item .ui-icon {
	display: none !important;
}
.single-menu-container {
	display: none !important;
}
#menuContent{
	margin: -300px 0 0 300px;
}
.menuLink{
    background: none repeat scroll 0 0 #2D89EF;
	color: #FFF;
}
/*  for alert in the market place */
.argoAlert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.argoAlert .argoClose {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}