/* common classes */
.textFont{
	font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	font-weight: 300;
	font-size: 19px;
	line-height: 34px;
	color: #FFF;
}
.textBlack{
	color: #000;
}
.marginTop10{
	margin-top: 10px;
}
.marginTop30{
	margin-top: 30px;
}
.font14{
	font-size:14px;
}
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}
.hideBlock{
	display: none;
}
/* footer */
.footertext{
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	font-size: small;
	color: #666;	
}
#argofooter{
    width: 100%;
    position: fixed;
    top: 100%;
    margin-top: -20px;
    height: 20px;
}

.joinTab{
	max-height: 620px !important;
}
.buysellchkbox{
	float: left;
	margin-right: 13px;
	margin: 8px 13px 0 0 !important;
}
.buyselllabel{
	padding-right: 10px;
}
#userloginErrorDiv{
	margin: -5px 0 5px 0;
}
/* login page */
.videoDiv{
	margin-left: 265px;
}


/* item maintenance jsp */
.uploadHead{
	background-color: #0B67CD;
	padding-left: 10px;
	position: relative;
	text-align: left;
	margin-bottom: 10px;
}
.uploadBtn{
	background-color: #1571D7;
}
.uploadWidth{
	width: 125px;
}
