<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>bsnet</display-name>
	<!-- filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>
        com.jda.bsnet.servlet.SessionFilterServlet
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/bsnet/user/*</url-pattern>
    <url-pattern>/bsnet/login/*</url-pattern>
    <url-pattern>/bsnet/item/*</url-pattern>
  </filter-mapping>-->
	<servlet>
		<servlet-name>bsnet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.portability.PortableServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.jda.bsnet.rest.BsnetApiApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>metrics</servlet-name>
		<servlet-class>com.yammer.metrics.reporting.AdminServlet</servlet-class>
		<init-param>
			<param-name>show-jvm-metrics</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>bsnet</servlet-name>
		<url-pattern>/bsnet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>metrics</servlet-name>
		<url-pattern>/metrics/*</url-pattern>
	</servlet-mapping>
</web-app>